* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #575757;
}

.img {
    width: 100%;
    height: 100px;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.reg {
    color: white;
    background-color: rgba(104, 85, 224, 1);
}

.log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}

.menubar {
    display: flex;
    justify-content: center;
    background-color: #575757;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
}

.menuitems {
    display: inline-block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    background-color: #575757;
    border-radius: 4px;
}

.menuitems:hover {
    background-color: #333;
    color: white;
}

.menuitems:active {
    background-color: #4CAF50;
    color: white;
}

.main-content {
    display: flex;
    border: 3px solid green;
    justify-content: space-between;
    margin: 20px;
    height: 300px;
    background-color: aquamarine;
}
table{
    font-size: 30px;
    border: 5px solid black;
    border-radius: 12px;
}